# Mechendo

In [42]:
import pandas as pd
import seaborn as sns

In [43]:
path = r"C:\Users\joaoh\Desktop\Ciencia_Dados\Projetos\Python--ETL--Start\Data_Extract\Data_Raw\datahackers-survey-2019-anonymous-responses.csv"

df = pd.read_csv(path, sep=",")
df

,"('P0', 'id')","('P1', 'age')","('P2', 'gender')","('P3', 'living_in_brasil')","('P5', 'living_state')","('P6', 'born_or_graduated')","('P8', 'degreee_level')","('P10', 'job_situation')","('P12', 'workers_number')","('P13', 'manager')",...,"('P34', 'other')","('P35', 'data_science_plataforms_preference')","('P35', 'other')","('P36', 'draw_participation')","('D1', 'living_macroregion')","('D2', 'origin_macroregion')","('D3', 'anonymized_degree_area')","('D4', 'anonymized_market_sector')","('D5', 'anonymized_manager_level')","('D6', 'anonymized_role')"
0,v9otv8j9wdvjrv9otvwnn9owhzq54ktv,37.0,Masculino,1,Minas Gerais (MG),1.0,Estudante de Graduação,Empregado (CTL),de 1 a 5,0.0,...,0,Nunca fiz cursos online,NaN,1.0,Região Sudeste,NaN,Computação / Engenharia de Software / Sistemas...,Outras,NaN,Outras
1,875ul998t0hqcv0871uptwf3oswcfv35,24.0,Feminino,1,São Paulo (SP),1.0,Estudante de Graduação,Empregado (CTL),Acima de 3000,0.0,...,1,NaN,Data Science Academy,0.0,Região Sudeste,NaN,Computação / Engenharia de Software / Sistemas...,Educação,NaN,Data Analyst/Analista de Dados
2,puscuk079vw1pusbb900pzw2xvpxtgdk,26.0,Masculino,1,São Paulo (SP),1.0,Graduação/Bacharelado,Empregado (CTL),Acima de 3000,0.0,...,0,Udemy,NaN,1.0,Região Sudeste,NaN,Outras Engenharias,Indústria (Manufatura),NaN,Outras
3,rmel8ewqpbffp2mnfbzermel8eqincov,21.0,Masculino,1,São Paulo (SP),0.0,Estudante de Graduação,Estagiário,de 11 a 50,0.0,...,0,Alura,NaN,1.0,Região Sudeste,Região Sudeste,Computação / Engenharia de Software / Sistemas...,Tecnologia/Fábrica de Software,NaN,Business Intelligence/Analista de BI
4,pj9mgud4d6mdct1l7vq0pj9mgu78h6ju,27.0,Masculino,1,NaN,1.0,Graduação/Bacharelado,Freelancer,de 6 a 10,1.0,...,0,Udemy,NaN,1.0,NaN,NaN,Computação / Engenharia de Software / Sistemas...,Internet/Ecommerce,"C-level (CDO, CIO, CTO)",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1760,qkjyuc8dayrrqahyjqkj841kpgymnpau,23.0,Feminino,1,Minas Gerais (MG),1.0,Graduação/Bacharelado,"Desempregado, buscando recolocação",NaN,NaN,...,0,Udemy,NaN,0.0,Região Sudeste,NaN,Outras,NaN,NaN,NaN
1761,7z5vvw7ycrxn4sujnv7z5vvw7r36gi5k,39.0,Masculino,1,São Paulo (SP),1.0,Estudante de Graduação,Empregado (CTL),de 1001 a 3000,0.0,...,0,Udemy,NaN,1.0,Região Sudeste,NaN,Computação / Engenharia de Software / Sistemas...,Tecnologia/Fábrica de Software,NaN,Business Analyst/Analista de Negócios
1762,0s2jaountv3tyrae0sir4jd8o5hz19ob,36.0,Masculino,1,Paraná (PR),0.0,Pós-graduação,Empregado (CTL),Acima de 3000,0.0,...,0,Udemy,NaN,1.0,Região Sul,Região Nordeste,Computação / Engenharia de Software / Sistemas...,Tecnologia/Fábrica de Software,NaN,Data Engineer/Engenheiro de Dados
1763,r3kvh535z7xai2v8er3kv791tkmcysz8,29.0,Masculino,1,Minas Gerais (MG),1.0,Não tenho graduação formal,Empreendedor ou Empregado (CNPJ),de 11 a 50,1.0,...,0,Udacity,NaN,0.0,Região Sudeste,NaN,NaN,Tecnologia/Fábrica de Software,"C-level (CDO, CIO, CTO)",Data Engineer/Engenheiro de Dados
1764,1cz0hm5i92rw913f1cz0hmvferfavkkb,22.0,NaN,0,NaN,NaN,Não tenho graduação formal,Prefiro não dizer,Acima de 3000,0.0,...,0,Udemy,NaN,0.0,NaN,NaN,NaN,Setor Alimentício,NaN,Estatístico

In [44]:
colunas = ["('P0', 'id')","('P1', 'age')","('P2', 'gender')","('P3', 'living_in_brasil')","('P5', 'living_state')","('P6', 'born_or_graduated')","('P8', 'degreee_level')","('P10', 'job_situation')","('P12', 'workers_number')","('P13', 'manager')","('P16', 'salary_range')","('P17', 'time_experience_data_science')","('P18', 'time_experience_before')","('P19', 'is_data_science_professional')","('P20', 'linear_regression')","('P20', 'logistic_regression')","('P20', 'glms')","('P20', 'decision_tree')","('P20', 'random_forest')","('P20', 'neural_networks')","('P20', 'bayesian_inference')","('P20', 'ensemble')","('P20', 'svms')","('P20', 'cnns')","('P20', 'rnns')","('P20', 'hmms')","('P20', 'gans')","('P20', 'markov_chains')","('P20', 'nlp')","('P20', 'gradient_boosted_machines')","('P20', 'cluster_analysis')","('P20', 'survival_analysis')","('P20', 'longitudinal_data_analysis')","('P20', 'joint analysis')","('P20', 'no_listed_methods')","('P21', 'sql_')","('P21', 'r')","('P21', 'python')","('P21', 'c_c++_c#')","('P21', 'dotnet')","('P21', 'java')","('P21', 'julia')","('P21', 'sas_stata')","('P21', 'visual_basic_vba')","('P21', 'scala')","('P21', 'matlab')","('P21', 'php')","('P21', 'no_listed_languages')","('P22', 'most_used_proggraming_languages')","('P23', 'sql')","('P23', 'nosql')","('P23', 'images')","('P23', 'nlp')","('P23', 'videos')","('P23', 'sheets')","('P23', 'other')","('P24', 'sql')","('P24', 'nosql')","('P24', 'imagens')","('P24', 'nlp')","('P24', 'vídeos')","('P24', 'planilhas')","('P24', 'other')","('P25', 'aws')","('P25', 'gcp')","('P25', 'azure')","('P25', 'ibm')","('P25', 'on_premise_servers')","('P25', 'cloud_própria')","('P25', 'other')","('P26', 'mysql')","('P26', 'oracle')","('P26', 'sql_server')","('P26', 'aurora')","('P26', 'dynamodb')","('P26', 'coachdb')","('P26', 'cassandra')","('P26', 'mongodb')","('P26', 'mariadb')","('P26', 'datomic')","('P26', 's3')","('P26', 'postgresql')","('P26', 'elaticsearch')","('P26', 'db2')","('P26', 'ms_access')","('P26', 'sqlite')","('P26', 'sybase')","('P26', 'firebase')","('P26', 'vertica')","('P26', 'redis')","('P26', 'neo4j')","('P26', 'google_bigtable')","('P26', 'hbase')","('P26', 'other')","('P27', 'microsoft_powerbi')","('P27', 'qlik_view_qlik_sense')","('P27', 'tableau')","('P27', 'metabase')","('P27', 'superset')","('P27', 'redash')","('P27', 'microstrategy')","('P27', 'ibm_analytics_cognos')","('P27', 'sap_business_objects')","('P27', 'oracle_business_intelligence')","('P27', 'birst')","('P27', 'looker')","('P27', 'google_data_studio')","('P27', 'only_excel_gsheets')","('P27', 'no_bi_tool_at_work')","('P27', 'other')","('P28', 'sql_&_stored_procedures')","('P28', 'apache_airflow')","('P28', 'luigi')","('P28', 'aws_glue')","('P28', 'talend')","('P28', 'pentaho')","('P28', 'alteryx')","('P28', 'oracle_data_integrator')","('P28', 'ibm_data_stage')","('P28', 'sap_bw_etl')","('P28', 'siss_sql_server_integration_services')","('P28', 'other')","('P29', 'have_data_warehouse')","('P30', 'google_bigquery')","('P30', 'aws_redshift')","('P30', 'snowflake')","('P30', 'oracle')","('P30', 'postgres_mysql')","('P30', 'ibm')","('P30', 'teradata')","('P30', 'microsoft_azure')","('P30', 'do_not_know')","('P30', 'other')","('P31', 'data_hackers_blog')","('P31', 'data_hackers_podcast')","('P31', 'weekly_newsletter')","('P31', 'slack_channel')","('P31', 'data_hackers_bootcamp')","('P31', 'do_not_know_data_hackers')","('P32', 'prefered_data_hackers_initiative')","('P33', 'telegram_groups')","('P33', 'whatsapp_groups')","('P33', 'youtube_channels')","('P33', 'other_brasilian_blogs')","('P33', 'other_slack_channels')","('P33', 'twitter')","('P33', 'abroad_blogs')","('P33', 'abroad_podcasts')","('P33', 'meetups_and_events')","('P33', 'only_data_hackers')","('P33', 'other')","('P34', 'udacity')","('P34', 'coursera')","('P34', 'udemy')","('P34', 'height')","('P34', 'edx')","('P34', 'data_camp')","('P34', 'data_quest')","('P34', 'kaggle_learn')","('P34', 'online_courses')","('P34', 'other')","('P35', 'data_science_plataforms_preference')","('P35', 'other')","('P36', 'draw_participation')","('D1', 'living_macroregion')","('D2', 'origin_macroregion')","('D3', 'anonymized_degree_area')","('D4', 'anonymized_market_sector')","('D5', 'anonymized_manager_level')","('D6', 'anonymized_role')"]

colunas[0][8:-2]

formatadas_col = []
for i in colunas:
    formatadas_col.append(i[8:-2])

print(formatadas_col)


'''
primeiras = ['id', 'age', 'gender', 'living_in_brasil', 'living_state', 'born_or_graduated', 'degreee_level']
ultimas = ['living_macroregion', 'origin_macroregion', 'anonymized_degree_area', 'anonymized_market_sector', 'anonymized_manager_level', 'anonymized_role']

for i in formatadas_col:
    if i[1:-1] in primeiras or ultimas:
        formatadas_col.pop(i[1:-1])
'''

['id', 'age', 'gender', 'living_in_brasil', 'living_state', 'born_or_graduated', 'degreee_level', "'job_situation", "'workers_number", "'manager", "'salary_range", "'time_experience_data_science", "'time_experience_before", "'is_data_science_professional", "'linear_regression", "'logistic_regression", "'glms", "'decision_tree", "'random_forest", "'neural_networks", "'bayesian_inference", "'ensemble", "'svms", "'cnns", "'rnns", "'hmms", "'gans", "'markov_chains", "'nlp", "'gradient_boosted_machines", "'cluster_analysis", "'survival_analysis", "'longitudinal_data_analysis", "'joint analysis", "'no_listed_methods", "'sql_", "'r", "'python", "'c_c++_c#", "'dotnet", "'java", "'julia", "'sas_stata", "'visual_basic_vba", "'scala", "'matlab", "'php", "'no_listed_languages", "'most_used_proggraming_languages", "'sql", "'nosql", "'images", "'nlp", "'videos", "'sheets", "'other", "'sql", "'nosql", "'imagens", "'nlp", "'vídeos", "'planilhas", "'other", "'aws", "'gcp", "'azure", "'ibm", "'on_premise_servers", "'cloud_própria", "'other", "'mysql", "'oracle", "'sql_server", "'aurora", "'dynamodb", "'coachdb", "'cassandra", "'mongodb", "'mariadb", "'datomic", "'s3", "'postgresql", "'elaticsearch", "'db2", "'ms_access", "'sqlite", "'sybase", "'firebase", "'vertica", "'redis", "'neo4j", "'google_bigtable", "'hbase", "'other", "'microsoft_powerbi", "'qlik_view_qlik_sense", "'tableau", "'metabase", "'superset", "'redash", "'microstrategy", "'ibm_analytics_cognos", "'sap_business_objects", "'oracle_business_intelligence", "'birst", "'looker", "'google_data_studio", "'only_excel_gsheets", "'no_bi_tool_at_work", "'other", "'sql_&_stored_procedures", "'apache_airflow", "'luigi", "'aws_glue", "'talend", "'pentaho", "'alteryx", "'oracle_data_integrator", "'ibm_data_stage", "'sap_bw_etl", "'siss_sql_server_integration_services", "'other", "'have_data_warehouse", "'google_bigquery", "'aws_redshift", "'snowflake", "'oracle", "'postgres_mysql", "'ibm", "'teradata", "'microsoft_azure", "'do_not_know", "'other", "'data_hackers_blog", "'data_hackers_podcast", "'weekly_newsletter", "'slack_channel", "'data_hackers_bootcamp", "'do_not_know_data_hackers", "'prefered_data_hackers_initiative", "'telegram_groups", "'whatsapp_groups", "'youtube_channels", "'other_brasilian_blogs", "'other_slack_channels", "'twitter", "'abroad_blogs", "'abroad_podcasts", "'meetups_and_events", "'only_data_hackers", "'other", "'udacity", "'coursera", "'udemy", "'height", "'edx", "'data_camp", "'data_quest", "'kaggle_learn", "'online_courses", "'other", "'data_science_plataforms_preference", "'other", "'draw_participation", 'living_macroregion', 'origin_macroregion', 'anonymized_degree_area', 'anonymized_market_sector', 'anonymized_manager_level', 'anonymized_role']

"\nprimeiras = ['id', 'age', 'gender', 'living_in_brasil', 'living_state', 'born_or_graduated', 'degreee_level']\nultimas = ['living_macroregion', 'origin_macroregion', 'anonymized_degree_area', 'anonymized_market_sector', 'anonymized_manager_level', 'anonymized_role']\n\nfor i in formatadas_col:\n    if i[1:-1] in primeiras or ultimas:\n        formatadas_col.pop(i[1:-1])\n"

### Codigo ChatGpt

In [45]:
'''# Corrigir o nome da coluna
colunas = ["('P0', 'id')", "..."]  # substitua ... pelo restante da sua lista

# Extrair apenas o nome da segunda parte da tupla como string
formatadas_col = [i[9:-2] for i in colunas]

# Listas de colunas a serem removidas
primeiras = ['id', 'age', 'gender', 'living_in_brasil', 'living_state', 'born_or_graduated', 'degreee_level']
ultimas = ['living_macroregion', 'origin_macroregion', 'anonymized_degree_area', 'anonymized_market_sector', 'anonymized_manager_level', 'anonymized_role']

# Juntar as colunas a remover
remover = set(primeiras + ultimas)

# Filtrar mantendo apenas as colunas que não estão na lista de remoção
filtradas = [col for col in formatadas_col if col not in remover]

print(filtradas)
'''

'# Corrigir o nome da coluna\ncolunas = ["(\'P0\', \'id\')", "..."]  # substitua ... pelo restante da sua lista\n\n# Extrair apenas o nome da segunda parte da tupla como string\nformatadas_col = [i[9:-2] for i in colunas]\n\n# Listas de colunas a serem removidas\nprimeiras = [\'id\', \'age\', \'gender\', \'living_in_brasil\', \'living_state\', \'born_or_graduated\', \'degreee_level\']\nultimas = [\'living_macroregion\', \'origin_macroregion\', \'anonymized_degree_area\', \'anonymized_market_sector\', \'anonymized_manager_level\', \'anonymized_role\']\n\n# Juntar as colunas a remover\nremover = set(primeiras + ultimas)\n\n# Filtrar mantendo apenas as colunas que não estão na lista de remoção\nfiltradas = [col for col in formatadas_col if col not in remover]\n\nprint(filtradas)\n'

### Trocando nome Col

In [46]:
df.columns = formatadas_col

df

,id,age,gender,living_in_brasil,living_state,born_or_graduated,degreee_level,'job_situation,'workers_number,'manager,...,'other,'data_science_plataforms_preference,'other,'draw_participation,living_macroregion,origin_macroregion,anonymized_degree_area,anonymized_market_sector,anonymized_manager_level,anonymized_role
0,v9otv8j9wdvjrv9otvwnn9owhzq54ktv,37.0,Masculino,1,Minas Gerais (MG),1.0,Estudante de Graduação,Empregado (CTL),de 1 a 5,0.0,...,0,Nunca fiz cursos online,NaN,1.0,Região Sudeste,NaN,Computação / Engenharia de Software / Sistemas...,Outras,NaN,Outras
1,875ul998t0hqcv0871uptwf3oswcfv35,24.0,Feminino,1,São Paulo (SP),1.0,Estudante de Graduação,Empregado (CTL),Acima de 3000,0.0,...,1,NaN,Data Science Academy,0.0,Região Sudeste,NaN,Computação / Engenharia de Software / Sistemas...,Educação,NaN,Data Analyst/Analista de Dados
2,puscuk079vw1pusbb900pzw2xvpxtgdk,26.0,Masculino,1,São Paulo (SP),1.0,Graduação/Bacharelado,Empregado (CTL),Acima de 3000,0.0,...,0,Udemy,NaN,1.0,Região Sudeste,NaN,Outras Engenharias,Indústria (Manufatura),NaN,Outras
3,rmel8ewqpbffp2mnfbzermel8eqincov,21.0,Masculino,1,São Paulo (SP),0.0,Estudante de Graduação,Estagiário,de 11 a 50,0.0,...,0,Alura,NaN,1.0,Região Sudeste,Região Sudeste,Computação / Engenharia de Software / Sistemas...,Tecnologia/Fábrica de Software,NaN,Business Intelligence/Analista de BI
4,pj9mgud4d6mdct1l7vq0pj9mgu78h6ju,27.0,Masculino,1,NaN,1.0,Graduação/Bacharelado,Freelancer,de 6 a 10,1.0,...,0,Udemy,NaN,1.0,NaN,NaN,Computação / Engenharia de Software / Sistemas...,Internet/Ecommerce,"C-level (CDO, CIO, CTO)",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1760,qkjyuc8dayrrqahyjqkj841kpgymnpau,23.0,Feminino,1,Minas Gerais (MG),1.0,Graduação/Bacharelado,"Desempregado, buscando recolocação",NaN,NaN,...,0,Udemy,NaN,0.0,Região Sudeste,NaN,Outras,NaN,NaN,NaN
1761,7z5vvw7ycrxn4sujnv7z5vvw7r36gi5k,39.0,Masculino,1,São Paulo (SP),1.0,Estudante de Graduação,Empregado (CTL),de 1001 a 3000,0.0,...,0,Udemy,NaN,1.0,Região Sudeste,NaN,Computação / Engenharia de Software / Sistemas...,Tecnologia/Fábrica de Software,NaN,Business Analyst/Analista de Negócios
1762,0s2jaountv3tyrae0sir4jd8o5hz19ob,36.0,Masculino,1,Paraná (PR),0.0,Pós-graduação,Empregado (CTL),Acima de 3000,0.0,...,0,Udemy,NaN,1.0,Região Sul,Região Nordeste,Computação / Engenharia de Software / Sistemas...,Tecnologia/Fábrica de Software,NaN,Data Engineer/Engenheiro de Dados
1763,r3kvh535z7xai2v8er3kv791tkmcysz8,29.0,Masculino,1,Minas Gerais (MG),1.0,Não tenho graduação formal,Empreendedor ou Empregado (CNPJ),de 11 a 50,1.0,...,0,Udacity,NaN,0.0,Região Sudeste,NaN,NaN,Tecnologia/Fábrica de Software,"C-level (CDO, CIO, CTO)",Data Engineer/Engenheiro de Dados
1764,1cz0hm5i92rw913f1cz0hmvferfavkkb,22.0,NaN,0,NaN,NaN,Não tenho graduação formal,Prefiro não dizer,Acima de 3000,0.0,...,0,Udemy,NaN,0.0,NaN,NaN,NaN,Setor Alimentício,NaN,Estatístico

# Analisando

In [48]:
df.describe()

,age,living_in_brasil,born_or_graduated,'manager,'is_data_science_professional,'linear_regression,'logistic_regression,'glms,'decision_tree,'random_forest,...,'coursera,'udemy,'height,'edx,'data_camp,'data_quest,'kaggle_learn,'online_courses,'other,'draw_participation
count,1741.000000,1765.000000,1731.000000,1527.000000,1765.000000,1765.000000,1765.000000,1765.000000,1765.000000,1765.000000,...,1765.000000,1765.000000,1765.000000,1765.000000,1765.000000,1765.000000,1765.000000,1765.000000,1765.000000,1761.000000
mean,29.800689,0.980737,0.810514,0.199738,0.518414,0.296884,0.230028,0.075921,0.249858,0.203399,...,0.392635,0.637394,0.170538,0.166572,0.222096,0.036261,0.179037,0.095184,0.134844,0.813174
std,6.595795,0.137488,0.392007,0.399934,0.499802,0.457014,0.420970,0.264946,0.433054,0.402641,...,0.488475,0.480889,0.376212,0.372699,0.415773,0.186991,0.383492,0.293552,0.341654,0.389882
min,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,25.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
50%,29.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
75%,34.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,...,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,50.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1765 entries, 0 to 1764
Columns: 170 entries, id to anonymized_role
dtypes: float64(5), int64(146), object(19)
memory usage: 2.3+ MB